<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TFA Regression Suite">
	<test name="Regression Test">
		<classes>
			<class name="com.tfa.pedidosOnline.pedidosOnline.LoginTests" />
			<class name="com.tfa.pedidosOnline.pedidosOnline.PedidosTests" />
		</classes>
	</test>
</suite>